.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista{
    list-style-type: none;
}

.tipo{
    text-decoration: none;
}

.title{
    padding-bottom: 20px;
}

.bold{
    font-weight: 700;
}