.loginContainer {
    max-width: 400px;
    margin: auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .inputGroup {
    margin-bottom: 1rem;
  }
  
  .inputGroup label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .inputGroup input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .btnLogin {
    background-color: black;
    width: 100%;
    padding: 0.75rem;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .btnLogin:hover {
    color: #ffbb33;
  }
  
  .error {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.5rem;
  }
  
  .registerPrompt {
    text-align: center;
    margin-top: 1em;
    font-size: 0.9em;
}

.registerPrompt a {
    color: #007bff;
    text-decoration: none;
}

.registerPrompt a:hover {
    text-decoration: underline;
}
